@use '../styles/variables' as *;

.footer {
  border-top: 1px solid $border;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  &__logo {
    font-family: $font-display;
    font-size: 1.5rem;
    letter-spacing: 0.05em;
    color: $white;

    span { color: $accent; }
  }

  &__copy {
    font-size: 0.75rem;
    color: $gray-light;
    letter-spacing: 0.05em;
  }

  @media (max-width: 768px) {
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: flex-start;
  }
}